body {
  margin: 0;
  font-family: Inter, "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f7f8;
  color: #151b26;
}

code {
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono",
    monospace;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
